:root{
    font-size: 20px;
}

body {
    font-family: "Poppins", sans-serif,  Helvetica;
}


h1{
    color: green;
    background-color: beige;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

#div_temas{
    display: block;
}

.product_cell{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px
}


.laptop > h2{
color: blue;
}

.laptop > h3{
    color:cadetblue;
    text-align: right;
    padding-right: 10px;
    }

.iphone > h2 {
    color: red;
    }
        
.iphone > h3{
    color:green;
    text-align: right;
    padding-right: 10px;
    }
.audifonos > h2{
    color: green;
    }
            
.audifonos > h3{
    color:red;
    text-align: right;
    padding-right: 10px;
    }
